- page = params[:page]=='last' ? '"last"' : (params[:page] || 1)
.forum-ctrl{"ng-controller"=>"TopicsCtrl", "ng-init"=>"initTopic(#{params[:forum_id]},#{params[:id]},#{page},#{params[:post] || -1})"}
  .path
    %span
      %a{href:"/temple"} Список форумов
      %span.fa.fa-angle-double-right
    %span{"ng-repeat"=>"item in path"}
      %a{href:"/temple/{{item.id}}"} {{item.name}}
      %span.fa.fa-angle-double-right{"ng-if"=>"$index < path.length-1"}

  %h1.forum-topic-head
    %span.h1{"editable-text"=>"topic.head", "e-form"=>"headForm", onaftersave:"updateTopic()"} {{topic.head}}
    %span.block-adm.forum-topic-edit{"ng-show"=>"topic.editable"}
      %span.fa.fa-pencil{"ng-click"=>"headForm.$show()", "ng-hide"=>"headForm.$visible"}
    %span.block-adm.forum-topic-edit{}
      %span.fa.fa-eye-slash{"ng-show"=>"topic.isHidden && !topic.editable"}
      %span.fa.fa-eye{"ng-if"=>"topic.editable && !topic.isHidden", "ng-click"=>"toggleTopic(true)"}
      %span.fa.fa-eye-slash{"ng-if"=>"topic.editable && topic.isHidden", "ng-click"=>"toggleTopic(false)"}

  .topic-list-description{"ng-if"=>"topic.description"}
    .bold Описание локации:
    %div{"ng-bind-html"=>"topic.description | simpleFormat"}
  .topic-posts-count
    %span
      Сообщений: {{topic.posts_count}}
  .forum-pagination
    %ui-pagination{cur:"postPagination.cur", total:"postPagination.total", display:"9"}
  %table.forum-tab.one-message-tab
    %tr
      %th.f-message-author Автор
      %th.f-message-content Пост
  = render :partial => 'posts_table'

  .forum-pagination
    %ui-pagination{cur:"postPagination.cur", total:"postPagination.total", display:"9"}

  = render :partial => 'new_post_form'