- content_for :path do
  = link_to "Личный кабинет", profile_path
  %span.fa.fa-arrow-circle-right
  %span
    Личные сообщения

.messages.admin-wrapper{'ng-controller'=>'MsgCtrl', 'ng-init'=>"ifNew(#{params[:new]})"}

  .message-btn
    %span.btn.btn-standart{'ng-click'=>'messageShowInbox()', 'ng-class'=>'{"active" : !showOutbox}'}
      Входящие
    %span.btn.btn-standart{'ng-click'=>'messageShowOutbox()', 'ng-class'=>'{"active" : showOutbox}'}
      Исходящие
    %span.btn.btn-standart{'ng-click'=>'newMessage()', 'ng-class'=>'{"active" : showNew}'}
      Написать ЛС

  .messages-list{'ng-hide'=>'showNew'}
    .user-filter
      %input.form-control.inp.inp-type2{'ng-model' => 'filter.$', type: 'text', id:'user-filter'}
      %label.fa.fa-search{for:'user-filter'} &nbsp;

    .inbox-messages{'ng-hide'=>'showNew'}
      = render 'inbox_ngTable'

    .received-message{'ng-show'=>'sMsg.id'}
      = render 'show_message'

  .write-message{'ng-show'=>'showNew'}
    = render 'new_message'

= render 'shared/ng_table_pager'