- content_for :path do
  = link_to "Личный кабинет", profile_path
  %span.fa.fa-arrow-circle-right
  %span
    Список игроков

.admin-wrapper{"ng-controller"=>"UserCtrl", "ng-init"=>""}
  .user-filter
    %input.form-control.inp.inp-type2{"ng-model" => "filter.$", type: "text", id:"user-filter"}
    %label.fa.fa-search{for:"user-filter"} &nbsp;

  = render :partial => 'user_ng_tabel'
  .edit-user-div{"ng-show"=>"selectedUser.id"}
    .edit-close
      %span.fa.fa-times{"ng-click"=>"selectedUser = {}"}
    = render :partial => 'user_info'
    = render :partial => 'user_edit'

  .destroyed-users-wrap{"ng-show"=>"destroyedUsers.length > 0"}
    %span.mini-link{"ng-click"=>"showDestroyed=!showDestroyed"}
      Удаленные пользователи:
    %span.destroyed-user{"ng-repeat"=>"user in destroyedUsers", "ng-show"=>"showDestroyed"}
      {{user.name}}

= render 'shared/ng_table_pager'

