= content_for :pagetitle do
  = @skill.name

.text-simple
  - if @skill.description.present?
    .skill_description
      = raw @skill.description.bbcode_to_html_with_formatting
  - if @skill.advice.present?
    %p.advice
      Совет по игре: #{@skill.advice}
  - @skill.skill_levels.each do |skl|
    .skill_level_one
      %a{name: skl.level_id}
      %h4
        = skl.level.name
      .skill-description
        = raw skl.description
      - if skl.techniques.present?
        .skill-techniques
          %p.head
            %strong
              %em
                Способности:
          = raw skl.techniques.bbcode_to_html_with_formatting
      - if skl.advice.present?
        .skill-advice
          %p.advice
            Совет по игре: #{skl.advice}