.col
  .block
    %h3 Двор монастыря
    %ul.sidemenu
      %li
        = link_to "Как начать игру", "/pages/how_to_start"
      %li
        %a{href: "/skills/magic"} Способности
      %li
        %a{href: "/skills/phisic"} Навыки
      %li
        %a{href: "/chars"} Персонажи
      %li
        %a{href: "/pages/game_help"} Помощь по игре
      %li
        %a{href: "/pages/library"} Библиотека
      %li
        %a{href: "#{guest_posts_path}"} Гостевой свиток
      %li
        %a{href: "#{blog_posts_path}"} Блог Мастеров
      - if current_user
        %li
          %a{href: '/questions'} Вопрос Мастеру
      %li
        %a{href: "/journals"} Газета
      %li
        %a{href: "/pages/contacts"} Контакты
  = ssi '/weather'
  .block.phrase
    = ssi '/proverb'
  .block.newsshort
    = ssi '/mini_lists/news'
  .block.blogshort
    = ssi '/mini_lists/blog'
  .block.banners
