- content_for :path do
  = link_to 'Главная Страница', '/'
  - @page.path.each do |page|
    %span.fa.fa-arrow-circle-right
    - if page.id == @page.id
      %span
        = page.page_title
    - else
      = link_to page.page_title, page_url_path(page.page_alias)

- content_for :title do
  #{@page.meta_title.present? ? @page.meta_title : @page.page_title} - ФРПГ Храм Мудрости



- if @page.meta_description.present?
  - content_for :meta_description do
    = @page.meta_description

- if @page.meta_keywords.present?
  - content_for :meta_keywords do
    = @page.meta_keywords

- content_for :pagetitle do
  = @page.page_title

= render inline: @page.render_content
