- content_for :path do
  = link_to "Личный кабинет", profile_path
  %span.fa.fa-arrow-circle-right
  = link_to "Редактирование страниц", pages_path
  %span.fa.fa-arrow-circle-right
  %span
    = @page.head

= tinymce_assets
.forum-admin.admin-wrapper
  .edit-item
    = form_for @page, remote: true do |f|
      .edit-form
        .form-line.form-min-height
          %span.form-block
            = f.label :head
            = f.text_field :head, class: "inp inp-type2"
          %span.form-block
            = f.label :page_alias
            = f.text_field :page_alias, class: "inp inp-type2"
          %span.form-block
            = f.check_box :published
            = f.label :published, raw("Публиковать<span></span>")
          %span.form-block
            = f.check_box :hide_menu
            = f.label :hide_menu, raw("Скрыть в меню<span></span>")
        %hr
        .form-line
          = f.label :page_title
          = f.text_field :page_title, class: "inp inp-type2 tinymce"
        .form-line.text-area
          .text-area
            =f.text_area :content, class: "inp inp-type2 tinymce"
        -#TODO add all the other page fields
        .form-line
          = f.submit raw("Сохранить"), class:"btn btn-standart"
          %button.btn.btn-standart{onclick:'window.location.assign("/admin/pages")'}
            Назад
          %span#edit-result


= tinymce
