.anketa{"ng-controller" => "CharFormCtrl", "ng-init"=>"formInit(#{@char.id})"}
  = form_for @char do |f|
    %table
      %tr
        %td.anketa-tt
          Имя:
        %td.anketa-ipt
          %input.inp.inp-type2{type: "text"}/
      %tr
        %td.anketa-tt
          Аватар:
        %td.anketa-ipt
          %input.inp.inp-type2{type: "text"}/
      %tr
        %td.anketa-tt
          Желаемый статус
        %td.anketa-ipt
          %select.inp.inp-type2.inp-short
            %option Ученик
            %option Мастер
            %option Обитатель
    = f.fields_for :profile do |p|
      %table
        %tr
        %td.anketa-tt
          Дата рождения
          %br/
          %span.more (день и месяц, например: 25.08)
        %td.anketa-ipt
          = p.text_field :birth_date, class: "inp inp-type2 inp-short", "ng-model" => "char.profile.birth_date", "ng-change"=>"changeSeasonId()"
        %tr
        %td.anketa-tt
          Возраст
          %br/
          %span.more (возраст Учеников: до 20 лет)
        %td.anketa-ipt
          = p.text_field :age, class: "inp inp-type2 inp-short"
        %tr
        %td.anketa-tt
          Звериный облик:
        %td.anketa-ipt
          %input.inp.inp-type2{type: "text"}/
        %tr
        %td.anketa-tt
          Физические данные:
        %td.anketa-ipt
          %textarea.inp-type2
        %tr
          %td.anketa-tt
            Магические способности:
            %br/
            %span.more
              (
              %a{href: "#", target: "_blank"}> список способностей
              )
          %td.anketa-ipt
            .skills-added
              .skills-added-line
                %span.skills-added-name Магия стихий: Вода
                %span.skills-added-level Послушник
                %span.skills-added-remove{title: "Удалить способность"} ×
              .skills-added-line
                %span.skills-added-name Магия стихий: Земля
                %span.skills-added-level Младший Мастер
                %span.skills-added-remove{title: "Удалить способность"} ×
              %span.skills-added-line
                %span.skills-added-name Офуда
                %span.skills-added-level Наставник
                %span.skills-added-remove{title: "Удалить способность"} ×
            .skills-add-form
              %form
                %select.inp.inp-type2.skills-addform-name{title: "Выберите способность"}
                  %option Магия стихия: Земля
                  %option Магия стихия: Огонь
                  %option Магия стихия: Вода
                  %option Магия стихия: Еда
                %select.inp.inp-type2.skills-addform-level{title: "Выберите уровень владения способностью"}
                  %option Новичок
                  %option Ученик
                  %option Послушник
                  %option Младший Мастер
                  %option Мастер
                  %option Старший Мастер
                  %option Наставник
                %input.btn.btn-add{title: "Добавить выбранную способность в свою анкету", type: "button", value: "➔"}/
        %tr
          %td.anketa-tt
            Навыки:
            %br/
            %span.more
              (
              %a{href: "#", target: "_blank"}> список навыков
              )
          %td.anketa-ipt
            %textarea.inp-type2
        %tr
          %td.anketa-tt
            Предметы:
            %br/
            %span.more (вещи, оружие, амулеты и пр.)
          %td.anketa-ipt
            %textarea.inp-type2
        %tr
          %td.anketa-tt
            Биография:
          %td.anketa-ipt
            %textarea.inp-type2{style: "height:150px;"}
        %tr
          %td.anketa-tt
            Внешность:
          %td.anketa-ipt
            %textarea.inp-type2
        %tr
          %td.anketa-tt
            Характер:
          %td.anketa-ipt
            %textarea.inp-type2
        %tr
          %td.anketa-tt
            Прочее:
          %td.anketa-ipt
            %textarea.inp-type2
        %tr
          %td.anketa-tt
             
          %td.anketa-ipt
            %input.btn.btn-green{type: "submit", value: "Отправить"}/