.anketa{"ng-controller" => "CharFormCtrl", "ng-init"=>"formInit(#{@char.id})"}
  = form_for @char, remote: true do |f|
    %table
      %tr
        %td.anketa-tt
          #{f.label :name}:
        %td.anketa-ipt
          = f.text_field :name, class: "inp inp-type2"
      %tr
        %td.anketa-tt
          #{f.label :remote_avatar_url}:
        %td.anketa-ipt
          = f.text_field :remote_avatar_url, class:"inp inp-type2"
          -# TODO: add avatar show link
      %tr
        %td.anketa-tt
          #{f.label :group}:
        %td.anketa-ipt
          %select.inp.inp-type2.inp-short{"ng-model"=>"char.group_id", "ng-options"=>"group.id as group.name for group in acessibleGroups"}
          = f.hidden_field :group_id, "ng-value"=>"char.group_id"
    = f.fields_for :profile do |p|
      %table
        %tr
          %td.anketa-tt
            #{p.label :birth_date}:
            %br/
            %span.more (день и месяц, например: 25.08)
          %td.anketa-ipt
            = p.text_field :birth_date, class: "inp inp-type2 inp-short", "ng-model" => "char.profile_attributes.birth_date", "ng-change"=>"changeSeasonId()"
            = p.hidden_field :season_id, "ng-value"=>"char.profile_attributes.season_id"
        %tr
          %td.anketa-tt
            #{p.label :real_age}:
            %br/
            %span.more (возраст Учеников: до 20 лет)
          %td.anketa-ipt
            = p.text_field :real_age, class: "inp inp-type2 inp-short"
        %tr
          %td.anketa-tt
            #{p.label :beast}:
          %td.anketa-ipt
            = p.text_field :beast, class: "inp inp-type2"
        %tr
          %td.anketa-tt
            #{p.label :place}:
          %td.anketa-ipt
            = p.text_field :place, class: "inp inp-type2"
        %tr
          %td.anketa-tt
            #{p.label :phisics}:
          %td.anketa-ipt
            = p.text_area :phisics, class: "inp-type2"
        %tr
          %td.anketa-tt
            Магические способности:
            %br/
            %span.more
              (
              %a{href: "#", target: "_blank"}> список способностей
              )
          %td.anketa-ipt
            .skills-added
              .skills-added-line{"ng-repeat"=>"char_skill in char.magic_skills"}
                %span.skills-added-name{} {{char_skill.skill_name}}
                %span.skills-added-level{} {{char_skill.level_name}}
                %input{type:"hidden", "ng-value"=>"char_skill.skill_id", name:"char[char_skills_attributes][][skill_id]"}
                %input{type:"hidden", "ng-value"=>"char_skill.level_id", name:"char[char_skills_attributes][][level_id]"}
                %span.skills-added-remove{title: "Удалить способность", "ng-click"=>"removeSkill(char.magic_skills, char_skill)"} ×
            .skills-add-form
              %form
                %select.inp.inp-type2.skills-addform-name{title: "Выберите способность", "ng-model"=>"newCharSkill.skill_id", "ng-options"=>"skill.id as skill.name for skill in magicSkills"}
                %select.inp.inp-type2.skills-addform-level{title: "Выберите уровень владения способностью", "ng-model"=>"newCharSkill.level_id", "ng-options"=>"level.id as level.name for level in levels"}
                %input.btn.btn-add{title: "Добавить выбранную способность в свою анкету", type: "button", value: "➔", "ng-click"=>"addMagicSkill(newCharSkill)"}/
        %tr
          %td.anketa-tt
            Навыки:
            %br/
            %span.more
              (
              %a{href: "#", target: "_blank"}> список навыков
              )
          %td.anketa-ipt
            .skills-added
              .skills-added-line{"ng-repeat"=>"char_skill in char.phisic_skills"}
                %span.skills-added-name{} {{char_skill.skill_name}}
                %span.skills-added-level{} {{char_skill.level_name}}
                %input{type:"hidden", "ng-value"=>"char_skill.skill_id", name:"char[char_skills_attributes][][skill_id]"}
                %input{type:"hidden", "ng-value"=>"char_skill.level_id", name:"char[char_skills_attributes][][level_id]"}
                %span.skills-added-remove{title: "Удалить способность", "ng-click"=>"removeSkill(char.phisic_skills, char_skill)"} ×
            .skills-add-form
              %form
                %select.inp.inp-type2.skills-addform-name{title: "Выберите способность", "ng-model"=>"newCharSkill.skill_id", "ng-options"=>"skill.id as skill.name for skill in phisicSkills"}
                %select.inp.inp-type2.skills-addform-level{title: "Выберите уровень владения способностью", "ng-model"=>"newCharSkill.level_id", "ng-options"=>"level.id as level.name for level in levels"}
                %input.btn.btn-add{title: "Добавить выбранную способность в свою анкету", type: "button", value: "➔", "ng-click"=>"addPhisicSkill(newCharSkill)"}/
        %tr
          %td.anketa-tt
            #{p.label :items}:
            %br/
            %span.more (вещи, оружие, амулеты и пр.)
          %td.anketa-ipt
            = p.text_area :items, class: "inp-type2"
        %tr
          %td.anketa-tt
            #{p.label :bio}:
          %td.anketa-ipt
            = p.text_area :bio, class:"inp-type2", style: "height:150px;"
        %tr
          %td.anketa-tt
            #{p.label :look}:
          %td.anketa-ipt
            = p.text_area :look, class: "inp-type2"
        %tr
          %td.anketa-tt
            #{p.label :character}:
          %td.anketa-ipt
            = p.text_area :character, class: "inp-type2"
        %tr
          %td.anketa-tt
            #{p.label :other}:
          %td.anketa-ipt
            = p.text_area :other, class: "inp-type2"
    %table
      %tr
        %td.anketa-tt
        %td.anketa.ipt
          %input{type:"checkbox", id:"status_id", name:"char[status_id]", value:1, "ng-checked"=>"char.status_id==1"}
          %label{for:"status_id"}
            %span
          Сохранить персонажа, не отправлять на одобрение
      %tr
        %td.anketa-tt
          = link_to "Удалить", char_path(@char), method: :delete, class:"" if @char.id
        %td.anketa-ipt
          = f.submit "Отправить", class: "btn btn-green"
          %span.form-errors{style:"display:none;"}
            Анкета пуста или имя персонажа уже занято