- if Rails.env.development?
  .debug_params{"ng-hide"=>"hideDebug", "ng-dblclick"=>"hideDebug=true"}
    %div
      Params: #{params}
    %div
      Session: #{session[:incomplete_user].inspect}
    %div
      - if current_user
        Current user: #{current_user.id} - #{current_user.name} - #{current_user.current_ip}
    .rails_notice
      Notice: #{notice}
    .rails_alert
      Alert: #{alert}
    .rails_flash
      = flash.keys
      = " -------- "
      = flash[0]
    - unless flash.empty?
      .flash
        Flash:
        - flash.each do |key,line|
          = key.to_s+": "+line.to_s