.loginform{"ng-hide"=>"currentUser.id"}
  .networks
    %a{title: "Войти через Facebook", href: auth_at_provider_path(provider: :facebook)}
      = image_tag "icons/facebook.png"
      %b FB
    %a{title: "Войти через Вконтакте", href: auth_at_provider_path(provider: :vk)}
      = image_tag "icons/vkontakte.png"
      %b VK
    %a{title: "Войти через Google Mail", href: auth_at_provider_path(provider: :google)}
      = image_tag "icons/gmail.png"
      %b Google
    %a{title: "Войти через Twitter", href: auth_at_provider_path(provider: :twitter)}
      = image_tag "icons/twitter.png"
      %b Twitter
  = form_tag login_path, method: :post do
    .loginform-one
      .loginform-text Логин:
      %input.inp.inp-standart{type: "text", name:"user_login"}/
    .loginform-one
      .loginform-text Пароль:
      %input.inp.inp-standart{type: "password", name:"user_password"}/
    %input.btn.btn-text{type: "submit", value: "Войти"}/

.loginform.loggedin{"ng-show"=>"currentUser.id"}
  .loggedin-name
    Добро пожаловать,
    = succeed "." do
      %a{href: profile_path} {{currentUser.name}}
  .loggedin-icons
    .loggedin-notification
      %a{href: "/notifications", title: "Уведомления"}
        Уведомления
        %span{'ng-show'=>'currentUser.notificationsCount > 0'} {{currentUser.notificationsCount}}
    .loggedin-messages
      %a{href: "/messages", title: "Личные сообщения"}
        Личные сообщения
        %span{'ng-show'=>'currentUser.messagesCount > 0'} {{currentUser.messagesCount}}
  .loggedin-exit
    = link_to "Выйти", logout_path, method: :delete