#hidden_notice{:style => "display:none"}
  = notice
  = alert
.over_bg
  #over_message.over_upper.resize
    .over_head
      .over_close{:rel => "message"}= image_tag 'buttons/close.png'
      .over_title
        - if notice
          = t('common.message.title.notice')
        - if alert
          = t('common.message.title.alert')
      .over_message
        - if notice
          = notice
        - if alert
          = alert
  #over_content.over_upper.resize
    .over_head
      .over_close{:rel => "content"}= image_tag 'buttons/close.png'
      .over_title
    .over_message