.col
  .block
    %h3 Двор монастыря
    %ul.sidemenu
      %li
        = link_to "Как начать игру", "/pages/how_to_start"
      %li
        %a{href: "/skills/magic"} Способности
      %li
        %a{href: "/skills/phisic"} Навыки
      %li
        %a{href: "/chars"} Персонажи
      %li
        %a{href: "/pages/game_help"} Помощь по игре
      %li
        %a{href: "/pages/library"} Библиотека
      %li
        %a{href: "#{guest_posts_path}"} Гостевой свиток
      %li
        %a{href: "#{blog_posts_path}"} Блог Мастеров
      %li
        %a{href: "/journals"} Газета
      %li
        %a{href: "/pages/contacts"} Контакты
  .block.weather.winter
    %h3 Погода
    .season Зима
    Осадков все также не наблюдается. Продолжаем работать ручками. Всего +7.
  .block.phrase
    = ssi '/proverb'
  .block.newsshort
    %h3 Новости
    .news-single
      .news-single-title{"ng-repeat"=>"news in wrapNews"}
        %span.news-single-date{} {{news.dateLine}}
        %span.news-single-date-title-text{} {{news.head}}
    .news-all
      %a{href: "/news"} Все новости
  .block.blogshort
    %h3 Блог
    .news-single{"ng-repeat"=>"post in wrapBlog"}
      .news-single-title
        %span.news-single-date{} {{post.dateLine}}
        %span.news-single-date-title-text
          %a{href: "#{blog_posts_path}/{{post.id}}"} {{post.head}}
  .block.banners
