.header
  = link_to "", root_path, class: "logo", title: "На главную"
  = link_to "Линь Ян Шо", "/temple", class: "ljs-text", title: "В Монастырь"
  = render :partial => 'login_block'
.menu
  .textsize{title: "Размер шрифта"}
    %span.textsize-a{"ng-click"=>"dropFont()"} A
    %span.textsize-rulers
      %span.plus{title: "Увеличить шрифт", "ng-click"=>"incFont()"} ▲
      %span.minus{title: "Уменьшить шрифт", "ng-click"=>"decFont()"} ▼
  %ul
    %li
      %a{href: "/"} Главная
    %li
      %a{href: "/pages/about"} О проекте
    %li
      %a{href: "/temple"} Монастырь
    %li
      %a{href: "/pages/map"} Карта
    - if current_user
      %li.link-green
        = link_to "Анкета", new_char_path
    - else
      %li.link-green
        = link_to "Регистрация", register_path
    %li
      %a{href: "/pages/rules"} Правила монастыря
    %li
      %a{href: "/pages/rpg_rules"} Правила РПГ