- content_for :path do
  = link_to 'Личный кабинет', profile_path
  %span.fa.fa-arrow-circle-right
  %span
    Управление персонажами

.admin-wrapper{'ng-controller'=>'AdminCharsWrapperCtrl'}
  .admin-nav
    %span.one-nav{'ng-repeat'=>'flap in flaps', 'ng-class'=>'{true:"active", false:""}[isFlap(flap.name)]', 'ng-click'=>'setFlap(flap)'}
      {{flap.title}}
  .ng-wrapper{'ng-controller'=>'AdminCharsCtrl', 'ng-init'=>'loadChars()', 'ng-show'=>'showAll'}
    .wrap{'ng-show'=>'isFlap("active")'}
      %h4 Активные персонажи
      .user-filter
        %input.form-control.inp.inp-type2{'ng-model' => 'filter.$', type: 'text', id:'user-filter'}
        %label.fa.fa-search{for:'user-filter'} &nbsp;
      = render partial: 'ng_table'
      = render partial: 'small_show'

    .wrap{'ng-show'=>'isFlap("queue")'}
      = render :partial => 'admin_chars/tables/pending_chars'
      = render :partial => 'admin_chars/tables/reviewed_chars'
      = render :partial => 'admin_chars/tables/saved_chars'

  .ng-wrapper{'ng-controller'=>'AdminCharsNaCtrl', 'ng-show'=>'isFlap("inactive")'}
    %h4 Неактивные персонажи
    .user-filter
      %input.form-control.inp.inp-type2{'ng-model' => 'filter.$', type: 'text', id:'user-filter'}
      %label.fa.fa-search{for:'user-filter'} &nbsp;
    = render partial: 'ng_table'

  .ng-modal{'ng-show'=>'showedChar.id || editedChar.id'}
    .ng-modal-overlay{'ng-click'=>'closeModal()'}
    .ng-modal-dialog
      .ng-modal-close
        %span.fa.fa-times{'ng-click'=>'closeModal()'}
      .modal-one.modal-edit{'ng-show'=>'editedChar.id'}
        .ng-modal-head
          %h4
            = t 'admin_chars.edit.pagetitle'
        .modal-content
          = render partial: 'edit_form'
      .modal-one.modal-show{'ng-show'=>'showedChar.id'}
        .ng-modal-head
          %h4
            {{showedChar.name}}
        .ng-modal-content
          = render partial: 'show_pending_profile'

= render 'shared/ng_table_pager'
