- content_for :path do
  = link_to "Личный кабинет", profile_path
  %span.fa.fa-arrow-circle-right
  %span
    Управление персонажами

.admin-wrapper{"ng-controller"=>"AdminCharsCtrl", "ng-init"=>"loadChars()", 'ng-show'=>'showAll'}
  %h4 Активные персонажи
  .user-filter
    %input.form-control.inp.inp-type2{'ng-model' => 'filter.$', type: 'text', id:'user-filter'}
    %label.fa.fa-search{for:'user-filter'} &nbsp;
  = render partial: 'ng_table'

  .edit-user-div{'ng-show'=>'sChar.id'}
    .edit-close
      %span.fa.fa-times{"ng-click"=>"sChar = {}"}
    .info-wrap
      %char-avatars{'ng-model'=>'sChar.currentAvatar', collection:'sChar.avatars', editable: 'false', 'char-id'=>'sChar.id'}
    .info-wrap
      .line
        Имя:
        %a{href:'/chars/{{sChar.id}}', target:'_blank'} {{sChar.name}}
      .line
        Вдалелец:
        %a{href:'/users/{{sChar.owner.id}}', target:'_blank'} {{sChar.owner.name}}
      .line
        Создан: {{sChar.createdAt}}
      .line
        Группа: {{sChar.group_name}}
      .line
        Статус: {{sChar.status_name}}
      .line
        Делегирован:
        %span{'ng-repeat'=>'user in sChar.delegations'}
          %a{href:'/users/user.id', target:'_blank'} {{user.name}}
        %span{'ng-show'=>'sChar.delegations.length == 0'}
          никому

  = render :partial => 'admin_chars/tables/pending_chars'

  = render :partial => 'admin_chars/tables/reviewed_chars'

  = render :partial => 'admin_chars/tables/saved_chars'

  .ng-modal{'ng-show'=>'showedChar.id || editedChar.id'}
    .ng-modal-overlay{'ng-click'=>'closeModal()'}
    .ng-modal-dialog
      .ng-modal-close
        %span.fa.fa-times{'ng-click'=>'closeModal()'}
      .modal-one.modal-edit{'ng-show'=>'editedChar.id'}
        .ng-modal-head
          %h4
            = t 'admin_chars.edit.pagetitle'
        .modal-content
          = render partial: 'edit_form'
      .modal-one.modal-show{'ng-show'=>'showedChar.id'}
        .ng-modal-head
          %h4
            {{showedChar.name}}
        .ng-modal-content
          = render partial: 'show_pending_profile'


= render 'shared/ng_table_pager'
